# =============================================================================
# List of packages to install, format:
#   packageName==packageVersion
# =============================================================================
#
# emoji==2.1.0
pandas==1.5.3
regex==2023.3.23
